@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url("https://media.makeameme.org/created/so-cool-much.jpg");
  text-align: center;
}

h3,
label,
p {
  background-color: #fff;
}

h3 {
  color: red;
  font-family: "Quicksand", sans-serif;
}
.card {
  margin-top: 1rem;
  left: 500px;
  color: blue;
}